<div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title">{{ card.name }}</h1>
        <button class="btn-close" (click)="bsModalRef.hide()"></button>
    </div>
    
    <div class="modal-body">
        <carousel>
    
            @for (picture of card.pictures; track card.id) {
            <slide><img src={{picture}} alt="slide" style="display: block; width: 100%;"></slide>
            }
    
        </carousel>
        <h1 class="mt-2 modal-description">Description</h1>
        <p class="p-modal">{{card.description}}</p>  
        <hr>
    </div>
</div>