<div class="row align-items-center default-container">
    <div class="col-lg-8">
      <div class="text-left">
        <h1 class="home-title">Welcome!</h1>
        <h2 class="home-author">Sebastián Aliante,<span id="dynamic-text">{{ dynamicText }}</span></h2>
        <blockquote>
          I am Sebastian Aliante, a student of Computer Science and Engineering at the University de La Frontera in Temuco, Chile. Software development is an area that deeply excites me and has driven me to explore various tools and approaches. I currently work with Unity to create simulators and 3D games, and I use Spring Boot and Angular for web development. I have a strong interest in the application of software engineering in education, as I believe technology plays a key role in transforming how people learn and connect with knowledge.
        </blockquote>
        <button>
            <a routerLink="/portfolio">
                > Check Portfolio
            </a>
        </button>
      </div>
    </div>
  </div>
  